<div class="container p-4">
  <h1>Todos nuestros posts</h1>
  <div class="row">

  <% @lista_posts.each do |p|%>
    <div class="col-12 col-xs-12 col-md-4 col-lg-3 p-4">
      <div class=" card my-4">
        
          <%= image_tag p.image_url, class: "card-img-top" %>
        
        <div class="card-body">
          
          <h5> <%= p.created_at.strftime('%a %d %b %Y') %> </h5>
          <h2>  <%= p.title %> </h2>
          <p>  <%= p.content %> </p>
          
        </div>
      </div>
    </div>
    <% end%>
  </div>
</div>
    
